<h2>Opis zadania:</h2>
stwórz prostą aplikację &lang;deskopową lub webową&rang;, która:
<ul>
<li>prezentuje użytkownikowi interfejs graficzny który umożliwia podanie adresu URL,</li>
<li>pobiera z niego stronę znajdującą się pod tym adresem,</li>
<li>odczytuje z części nagłówkowej słowa kluczowe,</li>
<li>analizuje podaną stronę i wyświetla statystykę ile razy dane słowo kluczowe występuje w tekście danej strony.</li>
</ul>
Udostępnienie zadania: rozwiązanie zadania umieść proszę na publicznie dostępnych serwisach do hostowania kodu - np. github, bitbucket, itp. i prześlij nam link do repozytorium.<br>
Język: Python/C#/Java/PHP<br>
Kryteria oceny:
<ul>
<li>podejście do inżynierii oprogramowania &lang;np. podział na warstwy, enkapsulacja itd&rang;</li>
<li>wykorzystanie adekwatnych bibliotek</li>
<li>jakość kodu</li>
</ul>
<p>
    W zadaniu nie oceniamy szybkości wykonania zadania ani atrakcyjnego wyglądu aplikacji
</p>
